[submodule "backend"]
	path = backend
	url = https://github.com/TinyDragons101/G-Scores-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/TinyDragons101/G-Scores-frontend.git
